<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">chuyên mục</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            <% for(var i=0; i < tags.length; i++) { %>
                <a href="/category/<%= tags[i].Id %>" class="btn btn-sm btn-outline-secondary m-1"><%= tags[i].NameTopic%></a>
             <% } %>
        </div>
    </div>
</div>